<form {{action 'createMenuSection' on='submit'}}>
  <div class="form-group">
    <label for="createMenuSection">New Menu Section</label>
    {{input type="text" class="form-control" id="createMenuSection" placeholder="New Menu Section" value=newMenuSection.heading}}
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>