@import "ember-bootstrap/bootstrap";
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

h1 {
  margin: 0 auto;
  text-align: center;
  width: 60%;
}

.navbar {
  border-radius: 0px;
}

ul {
  list-style-type: none;
}

.delete-confirm-dialog {
  padding: 10px;
}
