@import 'ember-bootstrap/bootstrap';
@import 'ember-modal-dialog/ember-modal-structure';
@import 'ember-modal-dialog/ember-modal-appearance';
@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Fascinate+Inline');

h1 {
  color: firebrick;
  font-family: 'Alex Brush', cursive;
  margin: 0 auto 10px;
  text-align: center;
  width: 60%;

  span {
    font-family: 'Fascinate Inline', cursive;
  }
}

.navbar {
  border-radius: 0;
}

ul {
  list-style-type: none;
}

.delete-confirm-dialog {
  padding: 10px;
}

.inactive-link {
  cursor: default;
  pointer-events: none;
}

body {
  background: lightyellow;
}

.cart-heading {
  border-bottom: black solid 1px;
  font-weight: bold;
}

.cart-summary {
  border-top: black solid 1px;
  font-weight: bold;
}

.owner-link {
  margin: 0 auto;
  font-size: .85em;
  text-align: center;
  margin-top: -10px;
}
