@import 'ember-bootstrap/bootstrap';
@import 'ember-modal-dialog/ember-modal-structure';
@import 'ember-modal-dialog/ember-modal-appearance';
@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Fascinate+Inline');

h1 {
  color: firebrick;
  font-family: 'Alex Brush', cursive;
  margin: 0 auto 10px;
  text-align: center;
  width: 60%;

  span {
    font-family: 'Fascinate Inline', cursive;
  }
}

.main-content {
  color: #444;
  line-height: 1.6;
  margin: 0 auto;
  max-width: 650px;
  padding: 0 10px;
}

.restaurant-list {
  line-height: 1.6;
  margin: 0 auto;
  max-width: 650px;
  padding: 0 10px;

  h3 {
    margin-bottom: 0;
  }
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h3 {
  margin-top: 5px;
}
.navbar {
  border-radius: 0;
}

ul {
  list-style-type: none;
}

.delete-confirm-dialog {
  padding: 10px;
}

.inactive-link {
  cursor: default;
  pointer-events: none;
}

body {
  background: lightyellow;
}

.cart-heading {
  border-bottom: black solid 1px;
  font-weight: bold;
}

.cart-summary {
  border-top: black solid 1px;
  font-weight: bold;
}

.owner-link {
  margin: 0 auto;
  font-size: .85em;
  text-align: center;
  margin-top: -10px;
}

.stripebutton {

  button {
    -moz-user-select: none;
    -webkit-user-select: none;
    background-color: #337ab7;
    background-image: none;
    border: 1px solid transparent;
    border-color: #2e6da4;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;

    :focus, .focus, :active:focus, .btn:active.focus, .active:focus, .active.focus {
      background-color: #286090;
      border-color: #122b40;
      color: #fff;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
    }

    :hover, .btn:focus, .btn.focus {
      background-color: #286090;
      border-color: #204d74;
      color: #fff;
      text-decoration: none;
    }

    :active, .active {
      background-color: #204d74;
      background-image: none;
      border-color: #122b40;
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      color: #fff;
      outline: 0;
    }
  }
}
