<p class="owner-link">(Restaurant owners {{#link-to 'my-restaurant'}}click here{{/link-to}})</p>
{{outlet}}
<div class="restaurant-list">
  Select a restaurant below!
  <ul>
  {{#each model as |restaurant|}}
    <li><h3>{{#link-to 'restaurant' restaurant}}{{restaurant.name}}{{/link-to}}</h3>
    {{restaurant.description}}</li>
  {{/each}}
  </ul>
</div>