<span class="owner-link">(Restaurant owners {{#link-to 'my-restaurant'}}click here{{/link-to}})</span>
{{outlet}}
<ul>
{{#each model as |restaurant|}}
  <li>{{#link-to 'restaurant' restaurant}}{{restaurant.name}}{{/link-to}}</li>
{{/each}}
</ul>